.alert{
    width: 30%;
    margin-top: 35px;
    padding: 0.5rem !important;
    text-align: center;
    font-size: 14px;
    color: black;
    font-weight: 600;
}


@media screen and (max-width: 768px) {

    .alert{
        width: 80vw;
        margin-top: 35px;
        padding: 0.5rem !important;
        text-align: center;
        font-size: 14px;
        color: black;
        font-weight: 600;
    }
    
}