.about{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.container-maps{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}