.centralForm{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    border-radius: 10px;
}

.centralForm h4{
    text-align: center;
    color: #FFF;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.formResetPass{
    display: grid;
    width: 30%;
    max-width: 500px;
    gap: 1.5rem;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border: 1px solid rgb(147, 138, 138);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
    border-radius: 10px;
    margin: 0 auto;
}

.formResetPass input[type="text"] {
    padding: 0.3rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    width: 100%;
}

.formResetPass input::placeholder {
    font-size: 13px;
}


.formResetPass input[type="password"] {
    padding: 0.3rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    width: 100%;
}

.formResetPass input[type="submit"] {
    padding: 0.5rem 2rem;
    background-color: #008CBA; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: all 0.3s ease 0s;
    width: 100%;
    font-size: 14px;
}

.formResetPass input[type="submit"]:hover {
    background-color: #005c89;
}

.formResetPass input:focus {
    outline: none;
    border-color: rgb(138, 36, 36);
    box-shadow: 0 0 10px #719ECE;
}

a{
    color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
    text-decoration: underline;
    color: black;
    text-decoration: auto;
}

.formResetPass span{
    text-align: left;
    font-size: small;
}

.alert{
    width: 30%;
    padding: 0.5rem !important;
    text-align: center;
    font-size: 14px;
    color: black;
    font-weight: 600;
}

.centerLoader{
    display: flex;
    align-items: center;
    justify-content: center;
}



@media screen and (max-width: 768px) {

    .centralForm{
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        display: block;
    }
    
    h4{
        display: none;
    }

    .formResetPass {
        padding: 15px; 
        width: 80vw;
    }

    .formResetPass input[type="submit"]{
        width: 100%;
    }

    .accountCheck span {
        font-size: 10px;
    }

    .accountCheck a {
        font-size: 12px;
    }
}