@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}

:root {
	--mainColor: #8991b0;
	--mainColorLight: #5767aa;
	--secondaryColor: #db2b39;
	--textColor: #f7faff;
	--mainFontFamily: initial;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-image: linear-gradient(to right, #6bb7d8, #536976);
	color: var(--textColor);
}

nav a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
	font-weight: 600;
}

nav a:hover {
	border-bottom: 4px solid #f7faff;
	transition: all 0.2s ease-out;
  
}

header .nav-btn{
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
	opacity: 0;
    font-size: 1.8rem;
}

.logo{
    max-width: 100px;
	cursor: pointer;
	display: block;
}

header div,
nav {
	display: flex;
	align-items: center;
	position: absolute;
	right: 0;
}


.sign_in_btn{
	border: 3px solid #ffffffba;
	border-radius: 3px;
	padding: 3px;
	font-weight: 300;
}

.sign_in_btn:hover{
	background-color: #fff;
	color: #a99393;
	border-bottom: none;

}

.welcome_div{
	padding: 4rem;
	align-items: center;
	text-align: center;
	background-color: #f8f8f8;
	font-family: initial !important;
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

    nav {
		position: fixed;
		top: -100vh;
        left: 0;
		height: 100%;
		width: 100%;
        display: flex;
		flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-image: linear-gradient(to right,#a0c7e9, #c6cecf);
		transition: 1s;
	}

    .responsive_nav {
		transform: translateY(100vh);
	}

    .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	.sign_in_btn{
		border: none;
	}

    a {
		font-size: 1.5rem;
	}

}